@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("./woff2/Pretendard-SemiBold.woff2") format("woff2"),
    url("./woff/Pretendard-SemiBold.woff") format("woff");
}
